# Ignore everything
*

# Don't ignore directories, so we can recurse into them
# !*/

# Specifics
!.gitignore*
!.gitmodules
!.hgignore_global
!.tmux.conf
!.zshenv
!.vim/colors/*
!.bash_*

# Catch-all
!.*rc

._*
.bash_history
.bashrc
*/.git*