.Trash
.DS_Store
*.DS_STORE
._*
.bashrc
.bash_history
.bash_logout
.CFUserTextEncoding
.dropbox
.config
.composer
.mysql_history
.php_history
.pip
.ssh
# Everything in the undo dir; only care that it exists
.vim/undo
.viminfo
Code
Desktop
Documents
Downloads
Dropbox
Library
Movies
Music
Pictures
Public
Remote
vm
