.Trash
.DS_Store
*.DS_STORE
._*
*.swp
.bash_history
.CFUserTextEncoding
.dropbox
.config
.composer
.gem
.rvm
.pip
.python-eggs
.ssh
.vagrant.d
# Everything in the undo dir; only care that it exists
.vim/undo
.viminfo
Code
Desktop
Documents
Downloads
Dropbox
Library
Movies
Music
Pictures
Public
Remote
VirtualBox VMs
vm
